In [18]:
# 指定輸入與輸出文件
input_csv = pd.read_csv("data/cpu_request_202501_hourly_node.csv")
output_csv = "data/cpu_gpu_request_changes.csv"

# 將 'hour' 欄位轉換成 datetime 格式
input_csv['hour'] = pd.to_datetime(input_csv['hour'])

# 檢查結果
print(input_csv.dtypes)


input_csv

hour               datetime64[ns]
node                       object
cpu_load                  float64
cpu_alloc                 float64
cpu_idle                  float64
cpu_total                 float64
gpu_power_usage           float64
gpu_mem_used              float64
gpu_gpu_usage             float64
gpu_fan                   float64
dtype: object

,hour,node,cpu_load,cpu_alloc,cpu_idle,cpu_total,gpu_power_usage,gpu_mem_used,gpu_gpu_usage,gpu_fan
0,2024-11-04 14:00:00,node-14,95.1100,95.0,1.0,96.0,NaN,NaN,NaN,NaN
1,2024-11-04 14:00:00,node-13,44.1050,44.0,0.0,44.0,NaN,NaN,NaN,NaN
2,2024-11-04 14:00:00,node-32,18.6800,30.0,2.0,32.0,98.1625,7270.375,14.5625,0.0
3,2024-11-04 14:00:00,node-19,5.0000,5.0,75.0,80.0,NaN,NaN,NaN,NaN
4,2024-11-04 14:00:00,node-18,28.0400,36.0,0.0,36.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
37947,2025-01-01 15:00:00,node-13,0.1325,0.0,44.0,44.0,NaN,NaN,NaN,NaN
37948,2025-01-01 15:00:00,node-12,0.1175,0.0,44.0,44.0,NaN,NaN,NaN,NaN
37949,2025-01-01 15:00:00,node-11,0.1175,0.0,44.0,44.0,NaN,NaN,NaN,NaN
37950,2025-01-01 15:00:00,node-16,0.0025,0.0,4.0,4.0,34.4175,1.000,0.0000,0.0
37951,2025-01-01 15:00:00,node-153,0.0000,0.0,4.0,4.0,51.6450,1.000,0.0000,0.0

In [16]:
input_csv.iloc[0, 0]  # 如果是字串，結果可能是 '2025-01-01 10:00:00'

'2024-11-04 14:00:00'

In [22]:
import pandas as pd

def process_cpu_gpu_changes(input_file: str, output_file: str):
    # 讀取 CSV 檔案
    df = pd.read_csv(input_file)
    df['hour'] = pd.to_datetime(df['hour'])
    
    
    # 按照節點 (node) 和時間排序，確保時間順序正確
    df = df.sort_values(by=['node', 'hour'])
    
    # 計算相鄰時間的變化量
    change_columns = ['cpu_load', 'cpu_alloc', 'cpu_idle', 'cpu_total', 'gpu_power_usage', 'gpu_mem_used', 'gpu_gpu_usage', 'gpu_fan']
    for col in change_columns:
        df[f'{col}_change'] = df.groupby('node')[col].diff()
    
    # 移除第一筆變化量為 NaN 的行（因為它沒有前一筆數據可計算變化量）
    df = df.dropna()
    
    # 儲存結果到輸出 CSV 檔案
    df.to_csv(output_file, index=False)
    
    print(f"處理完成，結果已儲存到 {output_file}")

# 指定輸入與輸出文件
input_csv = "data/cpu_request_202501_hourly_node.csv"
output_csv = "data/subtract_cpu_gpu_request_changes.csv"
process_cpu_gpu_changes(input_csv, output_csv)

處理完成，結果已儲存到 data/subtract_cpu_gpu_request_changes.csv

In [ ]:
2024-11-04 14:00:00	node-141	1.0	2.0	2.0	4.0	73.075	301.0	3.0	29.0

In [ ]:
2024-11-04 15:00:00	node-141	1.0133333333333300	2.0	2.0	4.0	72.41666666666670	296.3333333333330	1.1666666666666700	29.0